[Unit]
Description=Cloud DAQ Catcher
After=network.target nats-server.external.service
Requires=nats-server.external.service

[Service]
User=meshdaq
Group=meshdaqdevs
WorkingDirectory=/opt/projects/iot-wireless-mesh-daq/cloud
ExecStart=/opt/projects/iot-wireless-mesh-daq/cloud/.venv/bin/python apps/mitt/catcher.py
Restart=on-failure
RestartSec=3
TimeoutStopSec=10
KillSignal=SIGINT
KillMode=mixed
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=true
CapabilityBoundingSet=
ReadWritePaths=/opt/projects/iot-wireless-mesh-daq/cloud
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=cloud.target
