[Unit]
Description=Cloud DAQ Aggregate Target
Requires=cloud-catcher.service cloud-api.service
After=network.target nats-server.external.service

[Install]
WantedBy=multi-user.target
