# cloud-api.service
[Unit]
Description=Cloud DAQ FastAPI
After=cloud-catcher.service
Requires=cloud-catcher.service

[Service]
User=meshdaq
Group=meshdaqdevs
WorkingDirectory=/opt/projects/iot-wireless-mesh-daq/cloud
ExecStart=/opt/projects/iot-wireless-mesh-daq/cloud/.venv/bin/uvicorn apps.main:app --host 0.0.0.0 --port 8000
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
