[Unit]
Description=Mesh Panel Emulator
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=meshdaq
Group=meshdaqdevs
WorkingDirectory=/opt/projects/iot-wireless-mesh-daq/mesh
ExecStart=/opt/projects/iot-wireless-mesh-daq/mesh/.venv/bin/python emulator.py
Environment="PYTHONUNBUFFERED=1"
Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target
