# mesh-pitcher.service
[Unit]
Description=Mesh DAQ Pitcher
After=mesh-daq.service nats-server.external.service
Requires=mesh-daq.service nats-server.external.service

[Service]
User=meshdaq
Group=meshdaqdevs
WorkingDirectory=/opt/projects/iot-wireless-mesh-daq/mesh/DAQ/services/core/data
ExecStart=/opt/projects/iot-wireless-mesh-daq/mesh/.venv/bin/python DAQ/services/core/data/pitcher.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
