[Unit]
Description=Mesh DAQ Core (rundaq)
After=network.target nats-server.internal.service
Requires=nats-server.internal.service

[Service]
Type=simple
User=meshdaq
Group=meshdaqdevs
WorkingDirectory=/opt/projects/iot-wireless-mesh-daq/mesh
ExecStart=/opt/projects/iot-wireless-mesh-daq/mesh/.venv/bin/python rundaq.py
Environment="PYTHONUNBUFFERED=1"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=mesh.target
