[Unit]
Description=Mesh DAQ Publisher
After=network.target

[Service]
User=mesh-daq
WorkingDirectory=/opt/projects/iot-wireless-mesh-daq/mesh
ExecStart=/opt/projects/iot-wireless-mesh-daq/mesh/.venv/bin/python run_mesh-daq.py
Restart=on-failure
EnvironmentFile=/opt/projects/iot-wireless-mesh-daq/.env

[Install]
WantedBy=multi-user.target
