# /etc/systemd/system/mesh-emulator.service
[Unit]
Description=Mesh Panel Emulator
After=mesh-daq.service
Requires=mesh-daq.service

[Service]
Type=simple
User=meshdaq
Group=meshdaqdevs
WorkingDirectory=/opt/projects/iot-wireless-mesh-daq/mesh
ExecStart=/opt/projects/iot-wireless-mesh-daq/mesh/.venv/bin/python emulator.py
Environment="PYTHONUNBUFFERED=1"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=mesh.target
