# mesh-daq.service
[Unit]
Description=Mesh DAQ Core (rundaq.py)
After=network-online.target nats-server.internal.service
Requires=nats-server.internal.service
Wants=network-online.target

[Service]
Type=simple
User=meshdaq
Group=meshdaqdevs
WorkingDirectory=/opt/projects/iot-wireless-mesh-daq/mesh
ExecStart=/opt/projects/iot-wireless-mesh-daq/mesh/.venv/bin/python rundaq.py
Environment="PYTHONUNBUFFERED=1"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
