[Unit]
Description=DAQ UI (Next.js React App)
After=network.target

[Service]
User=mesh-daq
WorkingDirectory=/opt/projects/iot-wireless-mesh-daq/daq-ui
ExecStartPre=/usr/bin/npm install
ExecStartPre=/usr/bin/npm run build
ExecStart=/usr/bin/npm start
Restart=on-failure
EnvironmentFile=/opt/projects/iot-wireless-mesh-daq/.env

[Install]
WantedBy=multi-user.target
